Miniconda3-latest-Linux-x86_64.sh filter=lfs diff=lfs merge=lfs -text
/out/Ebar.dat filter=lfs diff=lfs merge=lfs -text
outDataBackup/calice[[:space:]]test[[:space:]]old[[:space:]]garfield[[:space:]]random[[:space:]]engine/48[[:space:]]events[[:space:]]noDebugOutput/52kV/Ebar.dat filter=lfs diff=lfs merge=lfs -text
outDataBackup/calice[[:space:]]test[[:space:]]old[[:space:]]garfield[[:space:]]random[[:space:]]engine/48[[:space:]]events[[:space:]]noDebugOutput/51kV/Ebar.dat filter=lfs diff=lfs merge=lfs -text
outDataBackup/calice[[:space:]]test[[:space:]]old[[:space:]]garfield[[:space:]]random[[:space:]]engine/48[[:space:]]events/Ebar.dat filter=lfs diff=lfs merge=lfs -text
outDataBackup/calice[[:space:]]test[[:space:]]old[[:space:]]garfield[[:space:]]random[[:space:]]engine/56kV[[:space:]]test/Ebar.dat filter=lfs diff=lfs merge=lfs -text
outDataBackup/test[[:space:]]new[[:space:]]garfield[[:space:]]random[[:space:]]engine/calice_52kV_48events_run1/Ebar.dat filter=lfs diff=lfs merge=lfs -text
outDataBackup/ATLAS_noCO2_tests/didnt[[:space:]]finish/Ebar.dat filter=lfs diff=lfs merge=lfs -text
outDataBackup/ATLAS_noCO2_tests/didnt[[:space:]]finish[[:space:]]2/Ebar.dat filter=lfs diff=lfs merge=lfs -text
outDataBackup/ATLAS_noCO2_tests/timed[[:space:]]out/Ebar.dat filter=lfs diff=lfs merge=lfs -text
outDataBackup/ATLAS_noCO2_tests/51kV/Ebar.dat filter=lfs diff=lfs merge=lfs -text
outDataBackup/calice[[:space:]]electhr[[:space:]]test/51kV/Ebar.dat filter=lfs diff=lfs merge=lfs -text
outDataBackup/calice[[:space:]]electhr[[:space:]]test/52kV/Ebar.dat filter=lfs diff=lfs merge=lfs -text
outDataBackup/calice[[:space:]]electhr[[:space:]]test/53kV/Ebar.dat filter=lfs diff=lfs merge=lfs -text
outDataBackup/isobutane/54kV/Ebar.dat filter=lfs diff=lfs merge=lfs -text